nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.btn a
{
    color: #343a40;
    text-decoration: none;
}

.btn a:hover
{
    color: #fff;
}

.card-columns {
    display: inline-block;
    text-align: left;
}

#myteam {
    text-align: left;
}

td {
    position: relative;
}
  
input[type="number"].points, textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;   
    width: 85%;
    padding: 0.3rem;
    margin: 0.2rem 0.5rem;
    border: 1px solid #ddd;
}

.DNF tr > *:nth-child(1) {
    display: none;
}

.rider {
    text-align: left;
}

.total {
    border-left: 2px double rgb(0, 0, 0);
}

.DNF tbody > *:nth-child(10) {
    border-top: 2px double rgb(0, 0, 0);
}

.DNF tbody > *:nth-child(10) > *:nth-child(3){
    font-weight: bold;
}

.username {
    text-transform: capitalize;
    text-align: left;
}

.score {
    text-transform: capitalize;
}

.score .team {
    text-align: left;
}

.day {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.pname {
    text-align: left;
}

.ptable.table-sm td, .ptable.table-sm th {
    padding: 1.0rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}

.leaderbord {
    position: fixed;
}

@media screen and (max-width: 1380px) {
    .leaderbord {
        position: static;
    }
  }

.money {
    border-radius: 100%;
    background-color: lightyellow;
    border: solid 1px;
    border-color: black;
    white-space: pre;
  }
.bronze {
    border-radius: 100%;
    background: lightcoral;
    border: solid 1px;
    border-color: black;
    white-space: pre;
  }
.silver {
    border-radius: 100%;
    background: grey;
    border: solid 1px;
    border-color: black;
    white-space: pre;
  }
.gold {
    border-radius: 100%;
    background: darkgoldenrod;
    border: solid 1px;
    border-color: black;
    white-space: pre;
  }
