{% extends "layout.html" %}

{% block title %}
    Edit team
{% endblock %}

{% block main %}
    
    <div>
        <form id="addTeamAdmin" action="/addTeamAdmin" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-12">
                {% if comps %}
                    {% for comp in comps %}
                        {% if comp.racetype_id == 1 %}
                            <h1>Add teams to Tour de France {{comp.year}}</h5>
                        {% elif comp.racetype_id == 2 %}
                            <h1>Add teams to Giro d'Italia {{comp.year}}</h5>
                        {% elif comp.racetype_id == 3 %}
                            <h1>Add teams to Vuelta a España {{comp.year}}</h5>            
                        {% endif %}
                    <br>
        
                        <h5>Users with a team in this race</h5>
                            {% if currentTeams %}
                                <ul style="list-style-type:none">
                                {% for currentTeam in currentTeams %}
                                    <li>{{currentTeam.username}}</li>
                                {% endfor %}
                                </ul>
                            {% endif %} 
                    </div>
                    <br>
                </div>
                </div class="form-row">
                    <div class="col-12">
                            <h5>Add a team:</h5>
                        <input type="hidden" id="comp" name="comp" value={{activecomp_ID}}>
                        <select class="form-control" name="username" id="username">
                            <option selected style="font-style: italic;">Select a user</option>
                            {% for user in newTeamUser %}
                                <option name="{{ user.username }}" value="{{ user.id }}">{{ user.username }}</option> 
                            {% endfor %}
                        </select>
                    </div>    
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
