{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
    <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <div>
        <h1>Admin</h1>
        <br>
        <h5>Options</h5>
        <br>
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-outline-dark btn-lg">New Competition</button>
            <button type="button" class="btn btn-outline-dark btn-lg">Edit Competition</button>
            <button type="button" class="btn btn-outline-dark btn-lg">Write blog</button>
            <button type="button" class="btn btn-outline-dark btn-lg">Aprove user</button>
          </div>
    </div>

{% endblock %}
