{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
    <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <div>
        <h1>Admin</h1>
        <br>
        <h5>Options</h5>
        <br>
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-outline-dark btn-lg"><a class="admin-link" href="/newComp">New Competition</a></button>
            <button type="button" class="btn btn-outline-dark btn-lg"><a class="admin-link" href="/editDetails">Edit Competition details</a></button>
            <button type="button" class="btn btn-outline-dark btn-lg"><a class="admin-link" href="/editBlog">Write blog</a></button>
            <button type="button" class="btn btn-outline-dark btn-lg"><a class="admin-link" href="/newUser">Approve user</a></button>
          </div>
    </div>
{% endblock %}
