{% extends "layout.html" %}

{% block title %}
    Edit details of the competition
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    {% if comps %}
        <div class="row">    
            {% for comp in comps %}
                <div class="col-sm-4">
                    <div class="card mb-3 w-100 mx-auto">
                        <div class="row no-gutters">
                            <div class="col-md-4">  
                                {% if comp.racetype_id == 1 %}
                                    <img src="static\tour.jpg" class="card-img-top" alt="Tour de France, Bilde av TravelingTart fra Pexels">
                                {% elif comp.racetype_id == 2 %}
                                    <img src="static\giro.jpg" class="card-img-top" alt="Giro di Italia, Bilde av TravelingTart fra Pexels">
                                {% elif comp.racetype_id == 3 %}
                                    <img src="static\vuelta.jpg" class="card-img-top" alt="Vuelta Espana, Bilde av Alex Azabache fra Pexels">            
                                {% endif %}
                            </div>              
                            <div class="col-md-8">
                                <div class="card-body">
                                    {% if comp.racetype_id == 1 %}
                                        <h5 class="card-title">Tour de France {{comp.year}}</h5>
                                    {% elif comp.racetype_id == 2 %}
                                        <h5 class="card-title">Giro d'Italia {{comp.year}}</h5>
                                    {% elif comp.racetype_id == 3 %}
                                        <h5 class="card-title">Vuelta a España {{comp.year}}</h5>            
                                    {% endif %}
                                    <p class="card-text"></p>
                                    <div class="btn-group-vertical">
                                        <a href="{{ url_for('points', activecomp=comp.id) }}" class="btn btn-primary btn-sm" style="margin: 0.1em;">Edit points</a>
                                        <a href="{{ url_for('DNF', activecomp=comp.id) }}" class="btn btn-primary btn-sm" style="margin: 0.1em;">Register DNF</a>
                                        <a href="{{ url_for('editComp', activecomp=comp.id) }}" class="btn btn-primary btn-sm" style="margin: 0.1em;">Change config</a>
                                        <a href="{{ url_for('uploadRiders', activecomp=comp.id) }}" class="btn btn-primary btn-sm" style="margin: 0.1em;">Upload rider list</a>
                                        <a href="{{ url_for('winners', activecomp=comp.id) }}" class="btn btn-primary btn-sm" style="margin: 0.1em;">Determine winners</a>
                                        <a href="{{ url_for('addTeamAdmin', activecomp=comp.id) }}" class="btn btn-primary btn-sm" style="margin: 0.1em;">Add teams</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
