{% extends "layout.html" %}

{% block title %}
    Edit Competition config
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
<div>
    <h1>Admin</h1>
    <br>
    <h5>Edit Competition config</h5>
    <br>
</div>
{% for comp in comps %}
    <form id="editComp" action="/editComp" method="post">
        <div class="text-right col-lg-8">
            <div>
                {% if comp.racetype_id == 1 %}
                    <h1 class="">Tour de France {{comp.year}}</h1>
                {% elif comp.racetype_id == 2 %}
                    <h1 class="">Giro di Italia {{comp.year}}</h1>
                {% elif comp.racetype_id == 3 %}
                    <h1 class="">Vuelta Espana {{comp.year}}</h1>
                {% else %}
                    <h1 class="">Unknown competition</h1>            
                {% endif %}
            </div>
            <div class="form-group">
                <label for="startdate">Start date of the race</label>
                <input class="form-control" name="startdate" placeholder="Startdate" type="date" value="{{ comp.startdate }}" required>
            </div>
            <div class="form-group">
                <label for="reg_stop">Deadline for registration</label>
                <input class="form-control" name="reg_stop" placeholder="Deadline for registration" type="datetime-local" value="{{ comp.reg_stop }}"required>
            </div>
            <div class="form-group">
                <label for="racedays">Number of days of the competition</label>
                <input class="form-control" name="racedays" placeholder="Number of days of the competition" type="number" value="{{ comp.racedays }}" required>
            </div>
            <div class="form-group">
                <label for="restdays">Indicate rest days</label>
                <input class="form-control" name="restdays" placeholder="Number of Rest days" type="text" value="{{ comp.restdays }}">
            </div>
            <div class="form-group">
                <label class="btn btn-light active">
                    <input type="checkbox" checked autocomplete="off" name="reg_active"> Activate registration now
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endfor %}
{% endblock %}
