{% extends "layout.html" %}

{% block title %}
    Edit Competition config
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
<div>
    <h1>Admin</h1>
    <br>
    <h5>Edit Competition config</h5>
    <br>
</div>
{% for comp in comps %}
    <form id="editComp" action="/editComp" method="post">
        <div class="text-right col-lg-8">
            <div>
                {% if comp.racetype_id == 1 %}
                    <h1 class="">Tour de France {{comp.year}}</h1>
                {% elif comp.racetype_id == 2 %}
                    <h1 class="">Giro d'Italia {{comp.year}}</h1>
                {% elif comp.racetype_id == 3 %}
                    <h1 class="">Vuelta a España {{comp.year}}</h1>
                {% else %}
                    <h1 class="">Unknown competition</h1>            
                {% endif %}
            </div>
            <input type="hidden" name="compid" value="{{ comp.id }}">
            <div class="form-group">
                <label for="startdate">Start date of the race</label>
                <input class="form-control" name="startdate" placeholder="Startdate" type="date" value="{{ comp.startdate }}" required>
            </div>
            <div class="form-group">
                <label for="reg_stop">Deadline for registration</label>
                <input class="form-control" name="reg_stop" placeholder="Deadline for registration" type="datetime-local" value="{{ comp.reg_stop }}"required>
            </div>
            <div class="form-group">
                <label for="racedays">Number stages</label>
                <input class="form-control" name="racedays" placeholder="Number of stages" type="number" value="{{ comp.racedays }}" required>
            </div>
            <div class="form-group">
                <label for="total_price">Maximum money to spend</label>
                <input class="form-control" name="total_price" placeholder="Maximum money to spend" type="number" value="{{ comp.total_price }}" required>
            </div>
            <div class="form-group">
                <label for="min_outsider">Minimum number of outsider riders</label>
                <input class="form-control" name="min_outsider" placeholder="Minimum outsiders" type="number" value="{{ comp.min_outsider }}" required>
            </div>
            <div class="form-group">
                <label class="btn btn-light active">
                    <input type="checkbox" checked autocomplete="off" name="reg_active" id="reg_active"> Activate registration now
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
    <script>
        editComp = document.getElementById("editComp");
        $("#editComp").on('submit', function(){editComp.submit();});
        $(document).ready(function() {
                var val = "{{ comp.reg_active }}";
                if (val == "on") {
                    $('input:checkbox').attr('checked', true);
                    $('input:checkbox').val("on")
                } else {
                    $('input:checkbox').attr('checked', false);
                    $('input:checkbox').val("off")
                }
            })
        $("#reg_active").change(function() {
                var val = this.value
                if (val == "on") {
                    $('input:checkbox').val("off")
                    $('input:checkbox').attr('checked', false);
                } else {
                    $('input:checkbox').val("on")
                    $('input:checkbox').attr('checked', true);
                }
        })
    </script>
{% endfor %}
{% endblock %}
