{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <div>
        <h1>Edit your team</h1>
        <br>
        <h5>Edit your team for the current race</h5>
        <br>
        {% if allRiders %}
            {% set ns = namespace(last_team = "nothing") %}
            {% set ct = namespace(count = 0) %}
            {% set rank = namespace(value = 0) %}
            <form id="editteam" action="/editteam" method="post">
                <input type="hidden" id="comp" name="comp" value={{activecomp}}>
                <input type="hidden" id="team_id" name="team_id" value={{team_id}}>
                <div class="card-columns">
            {% for rider in allRiders %}
                {% if ct.count == 0 %}
                    {% set ct.count = ct.count + 1 %}
                            <div class="card border-info">
                                <div class="card-body text-info">
                                    <div class="card-header">
                                        <h5 class="card-title">Choose 9 riders</h5>
                                    </div>
                                    <p class="card-text">Number the riders you would like to have in your team from 1 to 9. Where 1 is your Captain.</p>
                                    <p class="card-text">If you want to edit a previous made team, the Mint colored boxes are riders you have chosen.</br> Give the rider you don't want a ranking of 0 and select/rank another rider.</p>
                {% endif %}
                {% if rider.rides_for != ns.last_team %}
                    {% set ns.last_team = rider.rides_for %}
                                </div>
                            </div>
                            <div class="card border-dark">
                                <div class="card-body text-dark">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ns.last_team}}</h5>
                                    </div>
                                    <div>
                    {% set rank.value = 0 %}
                        {% for teamRider in teamRiders %} 
                            {% if rider.rider == teamRider.rider %} 
                                {% set rank.value = teamRider.rank %}
                            {% endif %}
                        {% endfor %}
                                        <input type="number" id="{{rider.id}}" name="{{rider.id}}" value="{{rank.value}}" min="0" max="9" {% if rank.value > 0 %} style="background-color:#3CBC8D;" {% endif %}>
                                        <label for={{rider.id}}>{{rider.rider}} <i>{{rider.nationality}}</i></label>
                                    </div>
                {% else %}
                                    <div>
                        {% set rank.value = 0 %}
                        {% for teamRider in teamRiders %} 
                            {% if rider.rider == teamRider.rider %} 
                                {% set rank.value = teamRider.rank %}
                            {% endif %}
                        {% endfor %}
                                        <input type="number" id="{{rider.id}}" name="{{rider.id}}" value="{{rank.value}}" min="0" max="9" {% if rank.value > 0 %} style="background-color:#3CBC8D;" {% endif %}>
                                        <label for={{rider.id}}>{{rider.rider}} <i>{{rider.nationality}}</i></label>
                                    </div>
                {% endif %}
            {% endfor %}
                                
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <script>
                //Checking if 9 riders are selected and follow the competition rules
                regteam = document.getElementById("editteam");
                // Check for duplicates from stackoverflow https://stackoverflow.com/questions/49215358/checking-for-duplicate-strings-in-javascript-array/49215411
                function checkIfDuplicateExists(w){
                    return new Set(w).size !== w.length 
                }
                $("#editteam").on('submit', function(e){
                    e.preventDefault();
                    var riders = [];
                    $.each($("input[type='number']"), function(){
                        if ($(this).val() > 0) {
                            riders.push($(this).val());
                        }
                    });
                        if (riders.length < 9) {
                            alert( "You should select more riders" );
                        }
                        else if (riders.length > 9) {
                            alert("You should select less riders");
                        }
                        else {
                            if (checkIfDuplicateExists(riders)) {
                                alert("Please rank your riders, use each number once. You have used: " + JSON.stringify(riders.sort()));
                            }
                            else {
                                editteam.submit();
                            }                            
                        }  
                });
            </script>
        {% endif %}
    </div>
{% endblock %}
