{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    {% if comps %}
        <div class="row">    
            {% for comp in comps %}
                <div class="col-sm-4">
                    <div class="card mb-3 w-100 mx-auto">
                        <div class="row no-gutters">
                            <div class="col-md-4">  
                                {% if comp.racetype_id == 1 %}
                                    <img src="static\tour2.jpg" class="card-img-top" alt="Tour de France, Bilde https://www.vg.no/sport/sykkel/i/AdW5Rn/derfor-dropper-nordmennene-tour-de-france">
                                {% elif comp.racetype_id == 2 %}
                                    <img src="static\giro2.jpg" class="card-img-top" alt="Giro di Italia, Bilde https://www.bora.com/ru/ru/sports-nutrition/story/giro-ditalia-2021/">
                                {% elif comp.racetype_id == 3 %}
                                    <img src="static\vuelta.jpg" class="card-img-top" alt="Vuelta Espana, Bilde av Alex Azabache fra Pexels">            
                                {% endif %}
                            </div>              
                            <div class="col-md-8">
                                <div class="card-body">
                                    {% if comp.racetype_id == 1 %}
                                        <h5 class="card-title">Tour de France {{comp.year}}</h5>
                                    {% elif comp.racetype_id == 2 %}
                                        <h5 class="card-title">Giro d'Italia {{comp.year}}</h5>
                                    {% elif comp.racetype_id == 3 %}
                                        <h5 class="card-title">Vuelta a España {{comp.year}}</h5>            
                                    {% endif %}
                                    {% for winner in winners %}
                                        {% if winner.comp_id == comp.id %}
                                            <div>
                                            <br>
                                            <br>
                                                <h4>
                                                <img src="static/award.svg" alt="Winner!" width="50" height="50" style="vertical-align:middle">
                                                {{ winner.username }}</h4>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                    
                                    <p class="card-text"></p>
                                    <div class="btn-group-vertical">
                                        <a href="{{ url_for('archive', activecomp=comp.id) }}" class="btn btn-primary" style="margin: 0.1em;">View</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
