{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    {% if comps %}
        {% for comp in comps %}
            <div class="card" style="width: 18rem;">
                {% if comp.racetype_id == 1 %}
                    <img src="static\tour.png" class="card-img-top" alt="Tour de France">
                {% elif comp.racetype_id == 2 %}
                    <img src="static\giro.png" class="card-img-top" alt="Giro di Italia">
                {% elif comp.racetype_id == 3 %}
                    <img src="static\vuelta.png" class="card-img-top" alt="Vuelta Espana">            
                {% endif %}
                    <div class="card-body">
                        {% if comp.racetype_id == 1 %}
                            <h5 class="card-title">Tour de France {{comp.year}}</h5>
                        {% elif comp.racetype_id == 2 %}
                            <h5 class="card-title">Giro di Italia {{comp.year}}</h5>
                        {% elif comp.racetype_id == 3 %}
                            <h5 class="card-title">Vuelta Espana {{comp.year}}</h5>            
                        {% endif %}
                        <p class="card-text">Register your team now. The deadline is {{comp.reg_stop}}</p>
                        <a href="\regteam" class="btn btn-primary">Register team</a>
                    </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
