{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    {% if comps %}
        {% for comp in comps %}
            <div class="card mb-3 w-100 mx-auto">
                <div class="row no-gutters">
                    <div class="col-md-4">  
                        {% if comp.racetype_id == 1 %}
                            <img src="static\tour.jpg" class="card-img-top" alt="Tour de France, Bilde av TravelingTart fra Pexels">
                        {% elif comp.racetype_id == 2 %}
                            <img src="static\giro.jpg" class="card-img-top" alt="Giro di Italia, Bilde av TravelingTart fra Pexels">
                        {% elif comp.racetype_id == 3 %}
                            <img src="static\vuelta.jpg" class="card-img-top" alt="Vuelta Espana, Bilde av Alex Azabache fra Pexels">            
                        {% endif %}
                    </div>              
                    <div class="col-md-8">
                        <div class="card-body">
                            {% if comp.racetype_id == 1 %}
                                <h5 class="card-title">Tour de France {{comp.year}}</h5>
                            {% elif comp.racetype_id == 2 %}
                                <h5 class="card-title">Giro di Italia {{comp.year}}</h5>
                            {% elif comp.racetype_id == 3 %}
                                <h5 class="card-title">Vuelta Espana {{comp.year}}</h5>            
                            {% endif %}
                            <p class="card-text">Register your team now. The deadline is {{comp.reg_stop}}</p>
                            <a href="{{ url_for('regteam', activecomp=comp.id) }}" class="btn btn-primary">Register team</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% elif comps2 %}
        <div class="row">
            <div class="col-7">
                {% for team in allteams %} 
                    <div><h2 class="username">{{ team.username }}</h2></div>
                    {{ team.table }}  
                {% endfor %} 
            </div>
            <div class="col-5">
                {{ standings }} 
            </div>
        </div>

    {% else %}
            <div>
                No current competitions
            </div>
    {% endif %}
    <script>
        $(document).ready(function(){
            $(".DNF:contains('1')").siblings(".rider").css( "text-decoration", "line-through" );
        });
    </script>
{% endblock %}
