{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    {% if comps %}
        {% for comp in comps %}
            <div class="container">
            	<div class="card mb-3 w-100 mx-auto">
                    <div class="row no-gutters">
                        <div class="col-md-4">  
                            {% if comp.racetype_id == 1 %}
                                <img src="static\tour.jpg" class="card-img-top" alt="Tour de France, Bilde av TravelingTart fra Pexels">
                            {% elif comp.racetype_id == 2 %}
                                <img src="static\giro.jpg" class="card-img-top" alt="Giro di Italia, Bilde av TravelingTart fra Pexels">
                            {% elif comp.racetype_id == 3 %}
                                <img src="static\vuelta.jpg" class="card-img-top" alt="Vuelta Espana, Bilde av Alex Azabache fra Pexels">            
                            {% endif %}
                        </div>              
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if comp.racetype_id == 1 %}
                                    <h5 class="card-title">Tour de France {{comp.year}}</h5>
                                {% elif comp.racetype_id == 2 %}
                                    <h5 class="card-title">Giro di Italia {{comp.year}}</h5>
                                {% elif comp.racetype_id == 3 %}
                                    <h5 class="card-title">Vuelta Espana {{comp.year}}</h5>            
                                {% endif %}
                                <p class="card-text">Register your team now. The deadline is {{comp.reg_stop}}</p>
                                <a href="{{ url_for('regteam', activecomp=comp.id) }}" class="btn btn-primary">Register team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% elif comps2 %}
        {% for comp in comps2 %}    
            <div>
                {% if comp.racetype_id == 1 %}
                    <h1 class="">Tour de France {{comp.year}}</h1>
                {% elif comp.racetype_id == 2 %}
                    <h1 class="">Giro di Italia {{comp.year}}</h1>
                {% elif comp.racetype_id == 3 %}
                    <h1 class="">Vuelta Espana {{comp.year}}</h1>
                {% else %}
                    <h1 class="">Unknown competition</h1>            
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-8">
                    {% for team in allteams %} 
                        <div><h2 class="username">{{ team.username }}</h2></div>
                        {{ team.table }}  
                    {% endfor %} 
                </div>
                <div class="col-sm-4">
                    <div><h2 class="">Leaderboard</h2></div>
                    {{ standings }}
                    <canvas id="chartTotal" width="800" height="800"></canvas> 
                </div>
            </div>
        {% endfor %}        
    {% else %}
            <div>
                No current competitions
            </div>
    {% endif %}
    <script>
        $(document).ready(function(){
            $(".DNF:contains('1')").siblings(".rider").css( "text-decoration", "line-through" );
            $(".DNF:contains('2')").siblings(".rider").css( {"font-style": "italic", "font-weight": "bold"} );
            $(".day").filter(function() {
                    return $(this).text() === "0";
                }).text(function () {
                    return $(this).text().replace("0", ""); 
                });
        });
        
        
        var ctx = document.getElementById('chartTotal');

        var teams = {{ chartTotals|tojson }};
        var teamNames = [];
        var pointsPerTeam = [];
        for (i in teams) {           
            teamNames.push(teams[i].user);
            pointsDay = []
            for (j = 0; j < {{ comps2[0]["racedays"]}}; j++) {
                pointsDay.push(teams[i].points[j+1]);
            }
            pointsDay.push(teams[i].points["final"]);
            pointsPerTeam.push(pointsDay)
        }
        
        var stages = [];
        for (i = 0; i < {{ comps2[0]["racedays"]}}; i++) {
            stages.push(i);
        }
        stages.push("final");

        var datasetdata = []
        var datasetdata2 = []

        var colors = [ '#2685CB', '#365513', '#FEC81B', '#FD8D14', '#CE00E6', '#4B4AD3', '#FC3026', '#B8CCE3', '#6ADC88', '#FEE45F', '#78a303', '#6303a3', '#a3a003' ];

        for (var i=0; i < teamNames.length; i++) {
            datasetdata[i] = {
                label: teamNames[i],
                data: pointsPerTeam[i],
                backgroundColor: colors[i],
                borderColor: colors[i],
                hoverBackgroundColor: colors[i],
                borderStyle: 'solid',
                borderWidth: 2,
                fill: false,
                lineTension: 0,
            }
        }

        var pointsPerDay = new Chart(ctx, {
        type: 'line',
        data: {
            labels: stages,
            datasets: datasetdata
            }
        })
    </script>
{% endblock %}
