{% extends "layout.html" %}

{% block title %}
    Points
{% endblock %}

{% block adminNav %}
    {% if role == 2 %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    {% if daysInComp %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    {% for number in range(daysInComp[0]["racedays"]) %}
                    <th >{{number + 1}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rider in ridersInComp %}
                    <tr>
                        <td style="white-space:nowrap">{{rider.rider}}</td>
                        {% for number in range(daysInComp[0]["racedays"]) %}
                        <td>{{number}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
