{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <div>
        <h1>Register team</h1>
        <br>
        <h5>Register your team for the current race</h5>
        <br>
        {% if riders %}
            {% set ns = namespace(last_team = "nothing") %}
            {% for rider in riders %}
                {% if rider.rides_for != ns.last_team %}
                    {% set ns.last_team = rider.rides_for %}
                    <h5>{{ns.last_team}}</h5>
                    <p class="card-text">{{rider.rider}}</p>
                {% else %}
                    <p class="card-text">{{rider.rider}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
