{% extends "layout.html" %}

{% block title %}
    Rules
{% endblock %}

{% block main %}
    <div class="rules">
        <div>
            <h1>Regels en puntenverdeling</h1>
            <h4>Tour de France 2020</h4>
            <br><br>
                <p>Negen renners per ploeg. <b>De renners dienen genummerd te zijn (1) tot en met (9).</b></p>
                <p><b>De kopman is in beginsel de renner met nummer (1)</b>. De punten die de kopman behaalt, worden verdubbeld. Als de kopman uitvalt, dan wordt renner met het laagste nummer in de ploeg die nog in de wedstrijd zit de nieuwe kopman. Voor de nieuwe kopman worden de punten over de gehele wedstrijd (etappe 1 t/m 21 + eindklassement) verdubbeld. De verdubbeling van punten van de oude kopman vervalt. Mocht de nieuwe kopman uitvallen, dan wordt ook hij weer vervangen door de renner met het laagste nummer in de ploeg die nog wel in de wedstrijd zit. Mocht de situatie zich voordien dat geen enkele renner van een ploeg Parijs haalt, dan geldt de renner die als laatst de wedstrijd verliet als kopman.</p>
            <p>Opgelet: in etappe 21 zijn alleen punten voor de daguitslag te verdienen. Geen extra punten voor de top-3 van het algemeen klassement en de truien. Alle eindklassementen worden in de kolom <i>eindklassement</i> verrekend.</p>
            <p>De puntentelling blijft dit jaar ongewijzigd. Met één noodzakelijke kanttekening: als de Tour vroegtijdig beëindigd moet worden wegens een virusuitbraak, dan wordt er alleen een eindklassement voor de Tourpoule opgemaakt als de Tour ook een eindwinnaar en eindklassement kent. Als na vier dagen koersen Richie Porte het halve peloton besmet en iedereen moet opgeven, zonder dat er iemand tot winnaar wordt gekroond, dan blijft de eindzege in de Tourpoule ook vacant. Als de Tour (net zoals Parijs-Nice dit voorjaar) met een of meerdere etappes wordt ingekort, maar er wel iemand op de eindstreep in het geel wordt gehesen, dan wordt er ook iemand in de Tourpoule gelauwerd. </p>
        </div>
        <table class="rules_table">
            <tr>
                <th></th>
                <th>per etappe</th>
                <th>eindklassement</th>
            </tr>
            <tr>
                <td>1e plaats</td>
                <td>12</td>
                <td>75</td>
            </tr>
            <tr>
                <td>2e plaats</td>
                <td>9</td>
                <td>50</td>
            </tr>
            <tr>
                <td>3e plaats</td>
                <td>8</td>
                <td>40</td>
            </tr>
            <tr>
                <td>4e plaats</td>
                <td>7</td>
                <td>32</td>
            </tr>
            <tr>
                <td>5e plaats</td>
                <td>6</td>
                <td>28</td>
            </tr>
            <tr>
                <td>6e plaats</td>
                <td>5</td>
                <td>25</td>
            </tr>
            <tr>
                <td>7e plaats</td>
                <td>4</td>
                <td>22</td>
            </tr>
            <tr>
                <td>8e plaats</td>
                <td>3</td>
                <td>19</td>
            </tr>
            <tr>
                <td>9e plaats</td>
                <td>2</td>
                <td>16</td>
            </tr>
            <tr>
                <td>10e plaats</td>
                <td>1</td>
                <td>13</td>
            </tr>
            <tr>
                <td>11e plaats</td>
                <td></td>
                <td>10</td>
            </tr>
            <tr>
                <td>12e plaats</td>
                <td></td>
                <td>9</td>
            </tr>
            <tr>
                <td>13e plaats</td>
                <td></td>
                <td>8</td>
            </tr>
            <tr>
                <td>14e plaats</td>
                <td></td>
                <td>7</td>
            </tr>
            <tr>
                <td>15e plaats</td>
                <td></td>
                <td>6</td>
            </tr>
            <tr>
                <td>16e plaats</td>
                <td></td>
                <td>5</td>
            </tr>
            <tr>
                <td>17e plaats</td>
                <td></td>
                <td>4</td>
            </tr>
            <tr>
                <td>18e plaats</td>
                <td></td>
                <td>3</td>
            </tr>
            <tr>
                <td>19e plaats</td>
                <td></td>
                <td>2</td>
            </tr>
            <tr>
                <td>20e plaats</td>
                <td></td>
                <td>1</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>bolletjestrui</td>
                <td>2</td>
                <td>40</td>
            </tr>
            <tr>
                <td>groene trui</td>
                <td>2</td>
                <td>30</td>
            </tr>
            <tr>
                <td>witte trui</td>
                <td>1</td>
                <td>20</td>
            </tr>
            <tr>
                <td>strijdlust</td>
                <td>2</td>
                <td>10</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>algemeen 1e</td>
                <td>4</td>
                <td></td>
            </tr>
            <tr>
                <td>algemeen 2e</td>
                <td>2</td>
                <td></td>
            </tr>
            <tr>
                <td>algemeen 3e</td>
                <td>1</td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}