{% extends "layout.html" %}

{% block title %}
    Rules
{% endblock %}

{% block main %}
    <div class="rules">
        <div>
            <h1>Regels en puntenverdeling</h1>
            <h4>Tour de France 2021</h4>
            <br><br>
            <h5>1. Ploeg-samenstelling</h5>
                <br>
                <p>Elke ploeg bestaat uit negen renners. <b>De renners dienen genummerd te zijn (1) tot en met (9).</b></p>
                <p><b>De kopman is in beginsel de renner met nummer (1).</b> De punten die de kopman behaalt, worden verdubbeld. Als de kopman uitvalt, 
                    dan wordt renner met het laagste nummer in de ploeg die nog in de wedstrijd zit de nieuwe kopman. Voor de nieuwe kopman worden de 
                    punten over de gehele wedstrijd (etappe 1 t/m 21 + eindklassement) verdubbeld. De verdubbeling van punten van de oude kopman vervalt. 
                    Mocht de nieuwe kopman uitvallen, dan wordt ook hij weer vervangen door de renner met het laagste nummer in de ploeg die nog wel in de 
                    wedstrijd zit. Mocht de situatie zich voordoen dat geen enkele renner van een ploeg Parijs haalt, dan geldt de renner die als laatst 
                    de wedstrijd verliet als kopman.</p>
                <p>Voorbeeld uit de oude doos: <i>José heeft in zijn ploeg de renners: (1) Bakelants, (2) Cancellara,(3) Boom, (4) Voeckler, (5) Barta, (6), 
                    Morabito (7) Durbridge (8) Anacona (9) Kiserlovski. Cancellara houdt zijn tijdritfiets in de eerste etappe niet onder controle, breekt 
                    zijn bekken en geeft direct op; Bakelants blijft de kopman. In de vierde etappe loopt Bakelants bij een harde val op de kasseien een 
                    zware hersenschudding op en wordt in de vijfde etappe door de tourdokter van zijn fiets gehaald; Boom is de nieuwe kopman en al zijn tot 
                    dan toe behaalde en nog te behalen punten worden verdubbeld, alle punten van Bakelants worden ontdubbeld. Boom wordt op de rustdag na de 
                    ploegentijdrit door de Gendarmerie van zijn bed gelicht en moet samen met de gehele Astanaploeg de Tour verlaten; Voeckler is de nieuwe 
                    kopman met dubbele punten vanaf de start, de punten van Boom blijven staan maar worden wel ontdubbeld. Voeckler blijft op zijn fiets zitten 
                    tot aan etappe 20, wanneer hij door een dronken oranje fan in bocht 7 van Alpe d'Huez op zijn lever wordt gestompt en met ogenschijnlijk 
                    ernstige interne bloedingen per helikopter naar het ziekenhuis in Grenoble wordt afgevoerd; Jan Barta is de nieuwe kopman, haalt Parijs 
                    en derhalve worden al zijn behaalde punten verdubbeld.</i></p>
                <br>
                <p>Selectiecriteria van de ploegen verschillen per editie.</p>
                <br>
                <h5>2. Puntentelling</h5>
                <br>
                <p>Elke etappe zijn punten te verdienen voor de eerste tien plekken in de daguitslag, de eerste drie plekken in het algemeen klassement, de 
                    leiders in de het punten, jeugd en bergklassement en voor de strijdlust. In (ploegen-) tijdritten wordt de strijdlust niet uitgereikt. Voor 
                    het ploegenklassement zijn geen punten te verdienen. </p>
                <p>Het is de leider in een nevenklassement die punten verdient, niet perse degene die de trui draagt. Voorbeeld: <i>Als Quintana leider is in het 
                    algemeen klassement én het puntenklassement en Valverde in het puntenklassement tweede staat. Dan draagt in de koers Quintana het Geel en 
                    Valverde het Groen. Maar alleen Quintana pakt voor deze truien in de Tourpoule punten.</i></p>
                <p>In de slotetappe (meestal etappe 21) zijn alleen punten voor de daguitslag te verdienen. Geen extra punten voor de top-3 van het algemeen 
                    klassement en de truien. Alle eindklassementen worden in de kolom <i>eindklassement</i> verrekend. Voor het algemeen eindklassement krijgen de eerste 
                    20 renners punten. Ook zijn er punten voor de winnaar van de superstrijdlust.</p>
                <p>In geval van een ploegentijdrit, krijgt elke renner uit de winnende ploeg als etappewinnaar punten en zo verder tot en met renners uit de ploeg die 
                    tiende wordt. Verder uiteraard zoals gewoonlijk de dagelijkse punten voor truien en algemeen klassement.</p>
                <p>Op het hoogste punt van de Tour wordt de Souvenir Henri Desgrange uitgereikt. Voor de renner die daar als eerste boven komt, zijn in de Poule 5 
                    punten te verdienen. In de Giro zijn voor de Cima Coppi 10 punten te verdienen in de Poule. Als de hoogste beklimming wordt geschrapt, worden 
                    de punten alleen uitgereikt, als de premie door de organisatie op een andere col vergeven wordt. Als dat niet het geval is, komen de punten te 
                    vervallen.</p>
                <p>Als bron voor de uitslagen van de etappes en de klassementen kan in principe 
                    <a href="https://www.procyclingstats.com/" target="_blank">procyclingstats</a> gebruikt worden. Helaas houden ze niet bij wie de prijs van de 
                    strijdlust pakt, die informatie is op <a href="https://www.letour.fr/" target="_blank">letour.fr</a> te vinden. Het is niet toegestaan om punten 
                    voor de strijdlust aan een andere rijder toe te wijzen, ook niet als de beslissing van de jury volkomen belachelijk is.</p>
                <p>In de Giro worden dagelijks de 2 punten voor de strijdlust uitgereikt aan de dagwinnaar van de <i>fighting spirit award</i>. In het eindklassement zijn 10 
                    punten voor de winnaar van de <i>breakaway prize (Fuga Pinarello)</i>, degene die de meeste kilometers in de ontsnapping heeft gezeten. De eindwinnaar 
                    van de <i>fighting spirit award</i> wordt beloond met 5 punten.</p>
                <br>
                <h5>3. Overige regels</h5>
                <br>
                <p>Als de Tour vroegtijdig beëindigd moet worden, dan wordt er alleen een eindklassement voor de Tourpoule opgemaakt als de Tour ook een eindwinnaar 
                    en eindklassement kent. Als de Tour met een of meerdere etappes wordt ingekort, maar er wel iemand op de eindstreep in het geel wordt gehesen, 
                    dan wordt er ook iemand in de Tourpoule gelauwerd.</p>
                <p>De uitslag van de Tourpoule wordt in principe niet gereviseerd na afloop. Mocht een renner op doping (of ander vals spel) betrapt worden, dan 
                    blijven zijn tot dan toe behaalde punten in de Tourpoule gewoon staan. De daguitslag geldt, zoals die staat nadat de wedstrijdjury over mogelijke 
                    incidenten heeft geoordeeld. Als de daguitslag langer dan 24 uur na het finishen van de etappe wordt aangepast, heeft dat geen gevolgen voor de 
                    Tourpoule.</p>
        </div>
        <table class="rules_table">
            <tr>
                <th></th>
                <th>per etappe</th>
                <th>eindklassement</th>
            </tr>
            <tr>
                <td>1e plaats</td>
                <td>12</td>
                <td>75</td>
            </tr>
            <tr>
                <td>2e plaats</td>
                <td>9</td>
                <td>50</td>
            </tr>
            <tr>
                <td>3e plaats</td>
                <td>8</td>
                <td>40</td>
            </tr>
            <tr>
                <td>4e plaats</td>
                <td>7</td>
                <td>32</td>
            </tr>
            <tr>
                <td>5e plaats</td>
                <td>6</td>
                <td>28</td>
            </tr>
            <tr>
                <td>6e plaats</td>
                <td>5</td>
                <td>25</td>
            </tr>
            <tr>
                <td>7e plaats</td>
                <td>4</td>
                <td>22</td>
            </tr>
            <tr>
                <td>8e plaats</td>
                <td>3</td>
                <td>19</td>
            </tr>
            <tr>
                <td>9e plaats</td>
                <td>2</td>
                <td>16</td>
            </tr>
            <tr>
                <td>10e plaats</td>
                <td>1</td>
                <td>13</td>
            </tr>
            <tr>
                <td>11e plaats</td>
                <td></td>
                <td>10</td>
            </tr>
            <tr>
                <td>12e plaats</td>
                <td></td>
                <td>9</td>
            </tr>
            <tr>
                <td>13e plaats</td>
                <td></td>
                <td>8</td>
            </tr>
            <tr>
                <td>14e plaats</td>
                <td></td>
                <td>7</td>
            </tr>
            <tr>
                <td>15e plaats</td>
                <td></td>
                <td>6</td>
            </tr>
            <tr>
                <td>16e plaats</td>
                <td></td>
                <td>5</td>
            </tr>
            <tr>
                <td>17e plaats</td>
                <td></td>
                <td>4</td>
            </tr>
            <tr>
                <td>18e plaats</td>
                <td></td>
                <td>3</td>
            </tr>
            <tr>
                <td>19e plaats</td>
                <td></td>
                <td>2</td>
            </tr>
            <tr>
                <td>20e plaats</td>
                <td></td>
                <td>1</td>
            </tr>
            <tr>
                <td> <i></i> </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr>
                <td>bolletjestrui</td>
                <td>2</td>
                <td>40</td>
            </tr>
            <tr>
                <td>groene trui</td>
                <td>2</td>
                <td>30</td>
            </tr>
            <tr>
                <td>witte trui</td>
                <td>1</td>
                <td>20</td>
            </tr>
            <tr>
                <td>strijdlust</td>
                <td>2</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Souvenir H.D.</td>
                <td>5</td>
                <td></td>
            </tr>
            <tr>
                <td>Cima Coppi</td>
                <td>10</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>algemeen 1e</td>
                <td>4</td>
                <td></td>
            </tr>
            <tr>
                <td>algemeen 2e</td>
                <td>2</td>
                <td></td>
            </tr>
            <tr>
                <td>algemeen 3e</td>
                <td>1</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div>
        <br>
        <br>
        <p><b>Summary in English:</b></p>
        <p>Nine riders per team. They should be numbered 1 to 9.</p>
        <p>Rider number 1 is team leader and gets double points. If he has to quit the race (for whatever reason), number 2 will be team leader and 
            all his points will be doubled. And so on.</p>
        <p>Every stage you can earn points for the first 10 riders in the stage, the combativity award, the first 3 riders in GC and for the leaders 
            of points, youth and mountains classifications.</p>
        <p>On the final stage no points can be earned for the first three in GC and the leaders of the points, youth and mountain classifications. 
            All these standings will be awarded in the final classification, where the first 20 riders in GC earn points, plus the winner of the super 
            combativity.</p>
        <p>If a rider is somehow caught for a doping violation, or is otherwise retroactively disqualified, his points thus far collected will not be 
            affected. Points are calculated after the race jury has ruled on any incidents. </p>
        <p>At the highest mountain pass of the Tour, 5 extra points can be earned for the Souvenir Henri Desgrange, in the Giro 10 points are on offer 
            for the Cima Coppi.</p>
        <p>In case of doubt, rules in Dutch have precedence.</p>
    </div>
{% endblock %}